Tp-Programacion/__pycache__/admin.cpython-310.pyc
Tp-Programacion/__pycache__/fileCsv.cpython-310.pyc
Tp-Programacion/__pycache__/login.cpython-310.pyc
Tp-Programacion/__pycache__/socio.cpython-310.pyc
Tp-Programacion/__pycache__/sistema.cpython-310.pyc
Tp-Programacion/.vscode/settings.json
Tp-Programacion/__pycache__/*.pyc
.DS_Store
OOP/tp-oop-tour-magic-world/data.json
.gitignore
OOP/tp-oop-tour-magic-world/data2.json
